<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pruebas TestNg" >
    <test name="Pruebas cuentas bancarias">
        <classes>
            <class name="co.dlacademy.PersonaTest"/>
            <class name="co.dlacademy.TransferenciaDeFondosTest"/>
        </classes>
    </test>
</suite>

